<div class="checkIns" [formGroup]="checkInform">
    <h5 class=" headings" id="exampleModalLabel1">Check in</h5>
    <div class="row" >
        <div class="col-sm-6 mt-5">
        <input class="input-box full-width" formControlName="fName" type="text" placeholder="First Name*">
        <div class="error" *ngIf="checkInform.get('fName')?.errors && checkInform.get('fName')?.touched">
            <p *ngIf="checkInform.get('fName')?.errors && checkInform.get('fName')?.errors?.required">Please enter first name</p>
            
        </div>
        </div>
        <div class="col-sm-6 mt-5">
            <input class="input-box full-width" formControlName="lName" type="text" placeholder="Last Name*">
            <div class="error" *ngIf="checkInform.get('lName')?.errors && checkInform.get('lName')?.touched">
                <p *ngIf="checkInform.get('lName')?.errors && checkInform.get('lName')?.errors?.required">Please enter last name</p>
                
            </div>
        </div>
    </div>
    <div class="row my-5" >
        <div class="col-12">
            <input class="input-box full-width" formControlName="email" type="text" placeholder="Email*">
            <div class="error" *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.touched">
                <p *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.errors?.required">Please enter Email</p>
                <p *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.errors?.pattern">Enter Correct Email</p>
            </div>
        </div>
        
    </div>
    <div class="row mt-5" >
        <div class="col-12">
            <input class="input-box full-width" formControlName="mobile" type="text" placeholder="Mobile*">
            <div class="error" *ngIf="checkInform.get('mobile')?.errors && checkInform.get('mobile')?.touched">
                <p *ngIf="checkInform.get('mobile')?.errors && checkInform.get('mobile')?.errors?.required">Please enter mobile no.</p>
                
            </div>
        </div>
        
    </div>
    <div class="row ">
        <div class="col-sm-6 mt-5">
            <div class="form-group">
                <select class="form-control select_style" formControlName="noOfAdults">
                    <option class="select_data" value="" selected disabled>No. of adults</option>
                    <option class="select_data" value="0">0</option>
                    <option class="select_data" value="1">1</option>
                    <option class="select_data" value="2">2</option>
                    <option class="select_data" value="3">3</option>
                    <option class="select_data" value="4">4</option>
                     <option class="select_data" value="5">5</option>
                  </select>
                  <div class="error" *ngIf="checkInform.get('noOfAdults')?.errors && checkInform.get('noOfAdults')?.touched">
                    <p *ngIf="checkInform.get('noOfAdults')?.errors && checkInform.get('noOfAdults')?.errors?.required">Please select No. of adults</p>
                    
                </div>
            </div>
           
        </div>
        <div class="col-sm-6 mt-5">
            <div class="form-group">
                <select class="form-control select_style" formControlName="noOfChildren" >
                    <option class="select_data" value="" selected disabled>No. of children</option>
                    <option class="select_data" value="0">0</option>
                    <option class="select_data" value="1">1</option>
                    <option class="select_data" value="2">2</option>
                    <option class="select_data" value="3">3</option>
                    <option class="select_data" value="4">4</option>
                    <option class="select_data" value="5">5</option>
                  </select>
                  <div class="error" *ngIf="checkInform.get('noOfChildren')?.errors && checkInform.get('noOfChildren')?.touched">
                    <p *ngIf="checkInform.get('noOfChildren')?.errors && checkInform.get('noOfChildren')?.errors?.required">Please select No. of children</p>
                    
                </div>
            </div>
           
        </div>
    </div>
    <div class="row my-5">
      <div class="col text-left text-white">
        <mat-checkbox formControlName="acceptCondtion" class="example-margin accptcondition"><span class="text-white accpted">I accept the <span class="terms_conds" (click)="openNew();do($event)">terms and conditions</span></span></mat-checkbox>
        <div class="error" *ngIf="checkInform.get('acceptCondtion')?.errors && checkInform.get('acceptCondtion')?.touched">
            <p *ngIf="checkInform.get('acceptCondtion')?.errors && checkInform.get('acceptCondtion')?.errors?.required">Please tick terms & conditions</p>
        </div> <!-- <mat-checkbox formControlName="acceptCondtion" class="example-margin accptcondition"> <span class="text-white">I accept the terms and conditions</span></mat-checkbox> -->
      </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <button class=" btn-primarys " (click)="saveCheckIn();do($event)" >Continue</button>
    </div>
  </div>  
</div>