<div class="checkIns" [formGroup]="checkInform">
    <h5 class=" headings" id="exampleModalLabel1">Check in</h5>
    <div class="row my-5" >
        <div class="col-6">
        <input class="input-box full-width" formControlName="fName" type="text" placeholder="First Name*">
        </div>
        <div class="col-6">
            <input class="input-box full-width" formControlName="lName" type="text" placeholder="Last Name*">
        </div>
    </div>
    <div class="row my-5" >
        <div class="col-12">
            <input class="input-box full-width" formControlName="email" type="text" placeholder="Email*">
            <div class="error" *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.touched">
                <p *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.errors?.required">Please enter Email</p>
                <p *ngIf="checkInform.get('email')?.errors && checkInform.get('email')?.errors?.pattern">Enter Correct Email</p>
            </div>
        </div>
        
    </div>
    <div class="row my-5" >
        <div class="col-12">
            <input class="input-box full-width" formControlName="mobile" type="text" placeholder="Mobile*">
        </div>
        
    </div>
    <div class="row my-5">
        <div class="col-6">
            <div class="form-group">
                <select class="form-control select_style" formControlName="noOfAdults">
                    <option class="select_data" value="" selected disabled>No. of adults</option>
                    <option class="select_data" value="0">0</option>
                    <option class="select_data" value="1">1</option>
                    <option class="select_data" value="2">2</option>
                    <option class="select_data" value="3">3</option>
                    <option class="select_data" value="4">4</option>
                     <option class="select_data" value="5">5</option>
                  </select>
            </div>
           
        </div>
        <div class="col-6">
            <div class="form-group">
                <select class="form-control select_style" formControlName="noOfChildren" >
                    <option class="select_data" value="" selected disabled>No. of children</option>
                    <option class="select_data" value="0">0</option>
                    <option class="select_data" value="1">1</option>
                    <option class="select_data" value="2">2</option>
                    <option class="select_data" value="3">3</option>
                    <option class="select_data" value="4">4</option>
                    <option class="select_data" value="5">5</option>
                  </select>
            </div>
           
        </div>
    </div>
    <div class="row my-5">
      <div class="col text-left text-white">
        <mat-checkbox formControlName="acceptCondtion" class="example-margin accptcondition"><span class="text-white accpted">I accept the <span class="terms_cond" (click)="openNew();do($event)">terms and conditions</span></span></mat-checkbox>
          <!-- <mat-checkbox formControlName="acceptCondtion" class="example-margin accptcondition"> <span class="text-white">I accept the terms and conditions</span></mat-checkbox> -->
      </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <button class=" btn-primarys " (click)="saveCheckIn();do($event)" >Continue</button>
    </div>
  </div>  
</div>