
<div class="container pt-5 search-events">
  <div class="my-3">
    <img   src="https://www.facethefacts.org.au/images/Site_Info/DSApin.png">
  </div>
    <h2 class="heading">Find an event</h2>
    <form class="form mt-3" >
      <div class="dropdown sep-event">
        <input type="text" [formControl]="countryCtrl"   placeholder="Search City or Town"  class="dropdownMenuButtonsSCT" data-toggle="dropdown" aria-expanded="false">
        <div class="dropdown-menu dropdownMenuBtnSCTs" aria-labelledby="dropdownMenuButtonsSCT">
          <span class="dropdown-item list-result-data" [attr.disabled]="noData"  (click)="sendTo(country.eventCode)"  *ngFor="let country of zipState;let i =index">{{country.Name}}</span>
        </div>
      </div>
    </form>
    <p class="view-all-event ViewAllLocation"  (click)="openViewModal()"  >view all locations</p>
    
  </div>