<div class="diabetes">
	<div >
		
		<app-risk-test class="risktestMain"></app-risk-test>
		
	</div>
	<div  class="eventDetails-container" *ngIf="DSAType == 0">
		<app-date-location [settings]="settings"></app-date-location>
	</div>  
	<div class="eventDetails-container" *ngIf="DSAType == 1">
		<app-event-detail [settings]="settings"></app-event-detail>
	</div> 
	<div *ngIf="DSAType == 2">
		<app-event-search [settings]="settings"></app-event-search>
	</div> 
	<div class="eventDetails-container" *ngIf="DSAType == 3">
		<app-upcoming-event [settings]="settings"></app-upcoming-event>
	</div> 
	<div class="eventDetails-container" *ngIf="DSAType == 5">
		
		<app-check-in></app-check-in>
	</div>
	
	<div class="footer_DSA" *ngIf="DSAType == 6">
		<app-footer></app-footer>
	</div> 
	<div>
		<app-view-all-event></app-view-all-event>
	</div>


</div>