
<div  class="event-contes">
    <div class=" padding-body" *ngIf="sharedData && sharedData[0]">
        <div class="row">
            <div class="col-2" style="max-width: 50px!important;">
                
                <img class="map-image1"  src="https://www.facethefacts.org.au/images/Site_Info/Ellipse 108.png">
                <img class="map-image" src="https://www.facethefacts.org.au/images/Site_Info/map-marker-light.png">
            </div>
            <div class="col-10 " >
                
                 <span class="city-name">{{sharedData[0].city | titlecase}}</span> 
            </div>
        </div>
        <h2 class="day-heading" *ngIf="sharedData && sharedData[0] && sharedData[0].dayLeft">{{sharedData[0].dayLeft | date: 'EEEE d MMMM y'}}</h2>
        <p class="first-heading" *ngIf="sharedData && sharedData[0] && sharedData[0].address">{{sharedData[0].address}}</p>
        <p class="first-heading" *ngIf="sharedData && sharedData[0] && sharedData[0].dayLeft">{{ sharedData[0].dayLeft | ampm}} - {{sharedData[0].endDate | ampm}}</p>
    </div>  
</div>