
  
  .mat-form-field {
    margin-top: 16px;
  }

.content-1{
    background-image:  url(https://www.imisconsulting.com.au//iMIS0/images/Site_Info/iStock-1135943635.png);
   /* // height: calc(100vh - 20px); */
    background-size: cover;
    border: 2px solid red;
    width: 800px;
    height: 500px;
    margin: 0 auto;
} 
.content-2{
   
    background-size: cover;
    border: 2px solid blue;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 125px;
    z-index: 9;
}  
.content {
    position: relative;
    top: -362px;
}
.content img{
    width: 1000px;
    height: 1000px;
}


.parent-content{
    max-width: 1000px;
    height: 700px;
    margin: 0 auto;
    border: 3px solid yellow;
    display: block;
    clear: both;
    overflow: hidden;
}
.child-content{
    float: left;
    width: 45%;

    /* border: 2px solid black; */
    margin: 10px 5px;
}
.child-content img {
    width: 1050px;
    height: 1052px;
    position: relative;
    top: -150px;
}
.child-content-2{
    /* //border: 2px solid blue; */
    text-align: center;
    position: absolute;
    /* width: calc(80vw - 20px); */
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.7));
    height: 700px;
    max-width: 1000px;
    color: #ffffff;
}










.card_box {
    min-height: 400px;
    overflow: hidden;
    width: 100%;

}
.bg_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    background-image: linear-gradient(to right, black , #000000b8);
}
.imm {
    position: absolute;
    top: 308px;
    right: -666px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(2);
}

.imm1 {
    position: absolute;
    top: 200px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.8);
   
}
.imm123 {
    position: absolute;
    top: 250px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.2);
   
}
.imm11 {
    position: absolute;
    top: 260px;
    /* right: -600px; */
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.5);
    /* object-position: right; */
}
.imm3 {
    position: absolute;
    top: 300px;
    right: -590px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.4);
}
.imm921 {
    position: absolute;
    top: 250px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.4);
}
.imm4 {
    /* latest change */
    position: absolute;
    top: 350px;
    right: -575px;
    max-width: 597px;
    object-fit: cover;
    transform: translate(-50%,-50%) scale(1.4);
}
.bg_gradient1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    background-image: linear-gradient(to left, black , #000000b8);
}
::ng-deep .diabetes .mat-stepper-horizontal .mat-horizontal-stepper-header-container{
    display: none!important;
}
.hint-waist{
    font-style: italic;

}
.range-heading{
   

}
.range-heading2{
    background-color: red;
    border-top-right-radius:  20px;
  border-top-left-radius: 20px;
  padding: 10px 0
}
.range-heading3{
    background-color: #ffffff;
    border-bottom-right-radius:  20px;
    border-bottom-left-radius: 20px;
    padding: 10px 0
}
.waist-headings{
    color:black;
    font-size: 12px;
    margin-bottom: .7rem;
}
.waist-value{
    color: #000;
    font-weight: 700;
    margin-bottom: .7rem;
}
.content-dsa{
    max-width: 1000px;
    margin: 0 auto;
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-dialogs{
      max-width: 3000px!important;
      margin: 0!important;
      background: #0d0d0d!important;
  }
  ::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0!important;
}
.view-modal{
    padding-right: 0!important;
}
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    
  }
  .details-box{
    background-color: #ffffff;
    color: black;
  }
  .step-containers{
   
    max-height: 800px;
    overflow-y: auto;
  }
  
  .view-final-btn{
    color: #fff;
    background: red;
    width: 100%;
    padding: 5px;
    border-radius: unset!important;
  }
  .riskDiabetes{
      color: red;

     
  }
  .riskDiabetess{
    background: #ed1c24!important;
  }
  .resutlTest{
    font-size: 40px;
    font-weight: 700;
  }
  .bar-chartMin {
    width: 33.33%;
    min-height: 20px!important;
    background: #404141;
    max-height: 20px!important;
    color: #fff;
    position: relative;
    top: 50px;
}
.next-btn-cusror{
   
    cursor: pointer!important;
}
.common_cursor{
    cursor: pointer!important;
}
/* .next-btn-cusror:disabled {
    cursor: not-allowed!important;
    pointer-events: all !important;
} */
.bar-chartMed {
    width: 33.33%;
    min-height: 40px!important;
    background: #404141;
    max-height: 40px!important;
    color: #fff;
    position: relative;
    top: 30px;
}
.bar-chartMax {
    width: 33.33%;
    min-height: 70px!important;
    background: #404141;
    max-height: 70px!important;
    color: #fff;
    font-size: 50px;
    padding-top: 10px;
}
.chart{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;

}
.bar-chart{
    width: 33.33%;
    margin: 45px 0 10px 0;
    text-align: center;
    font-size: 18px;
}
.bar-chart-range{
    width: 33.33%;
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 18px;

}
.glucose{
    font-size: 20px;
    margin: 10px 0 30px 0!important;
}
.glucoseB{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px!important;
}
::ng-deep .diabetes .mat-stepper-horizontal .mat-horizontal-stepper-header-container{
    display: none!important;
}
.exampleModal1234{
    display: none;
    position: absolute;
        /* top: 85px; */
        left: 0px;
    width: 100%;
    z-index: 999;
    
      }

      


@media only screen and (max-width: 600px) {
    .answer_check {
      
        padding-left: 75px!important;
    }
    .form-check-inline {
        width: 100%;
        position: relative;
       
        margin: 5px 0;
    }
    .range-media{
        max-width: 100%!important;
        flex: auto!important;
        padding: 15px!important;
    }
    .page-media-btn{
        width: auto;
        position: initial!important;
    }
    .result-media{
        max-width: 100%!important;
        flex: unset!important;
    }
    .inner_result_media{
        width: 100%!important;
    }
    .gp_result_media{
        max-width: 100%!important;
        flex: none!important;
    }
    .details-box{
        padding: 20px!important;
        margin: 0 20px 20px 20px!important;
    }
    .bar-chart{
        font-size: 11px!important;
    }
    .bar-chart-range{
        font-size: 11px!important;
    }
    .resutlTest{
        font-size: 20px!important;
    }
    .imm {
        top: 350px!important;
    }
    .imm11[_ngcontent-nym-c88] {
        position: absolute;
        top: 310px;
        max-width: 597px;
        object-fit: cover;
        transform: translate(-50%,-50%) scale(1.8);
    }
}
.padding-container{
    padding-top: 3rem!important;
    padding-bottom: 50rem!important;
}
/* The container */
.containers {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pagemedia-btn{
    width: 20px;
    position: relative;
    left: 0px;
    top: -12px;
}
  /* Hide the browser's default radio button */
.containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #eee;
    border-radius: 50%;
    cursor: default;
}
  
  /* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the radio button is checked, add a blue background */
.containers input:checked ~ .checkmark {
    background-color: #ed1c24;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.containers input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.containers .checkmark:after {
       top: 5px;
      left: 5px;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: white;
}


.check-inputs{
      width: 20px;
      height: 20px;
}
.page-inputs{
      width: 10px;
}
.stepeNext button{
      color: #fff;
}
.stepeNext button:disabled{
    color: #999;
}    
.accptcond .mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    color: #0000008c!important;
  }  
  .next-step{
      font-size: 28px;
      color: #ed1c24;
  } 
  .bottom-result {
    margin-top: 2rem;
    background: #404141;
    color: white;
    padding-top: 2rem;
}
.dropdownMenuButtons{
    padding: 0px 10px;
    margin: 20px 10px 15px 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid;
    font-size: 14px;
    height: 30px;
    width: 100%;
} 
.list-result-data{
    font-size: 14px!important;
}
.fourm_field{
    min-height: 88px!important;

}
.btnprimaryss {
    color: #fff;
    background: #ed1c24!important;
    border: #ed1c24!important;
    border-radius: 20px!important;
    padding: 5px 60px!important;
    margin: 1rem!important;
    outline: none;
} 
.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0!important;
}
.close-btn-cross{
    position: absolute!important;
    top: 35px!important;
    z-index: 999!important;
    right: 25px!important;
    font-size: 24px!important;
    color: #fff!important;
}
.font_results{
    font-weight: 100!important;
}
.form_risk{
    height: calc(100vh - 18px);
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.form_risk::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
.card_text{
    margin: 50px auto!important;
}
.green-snackbar {
    background: #01885bd8!important;
    z-index: 9999999999!important;
    top: 20px;
    position: fixed!important;
    right: 5px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
    
    
    
    
    